<div class="form">
  <div class="form-header">
    <h1 class="page-title">จัดการรอบการศึกษา</h1>
    <%= link_to 'สร้างรอบใหม่', new_season_path, class: "btn-create" %>
  </div>

  <div class="table-container">
    <table class="table">
      <thead>
        <tr>
          <th>ชื่อรอบ</th>
          <th>รายละเอียด</th>
          <th>วันที่เริ่ม</th>
          <th>วันที่สิ้นสุด</th>
          <th style="display=flex;"colspan="2">การกระทำ</th>
        </tr>
      </thead>
      <tbody>
        <% @seasons.each do |season| %>
          <tr>
            <td><%= season.season_name %></td>
            <td>
              <% season.seasons_detail.each do |detail| %>
                <% season_info = detail.values.first %>
                <p>ปี <%= season_info["year"] %> เทอม <%= season_info["term"] %></p>
              <% end %>
            </td>
            <td><%= season.start_date.strftime("%d/%m/%Y") %></td>
            <td><%= season.end_date.strftime("%d/%m/%Y") %></td>
            <td>
              <%= link_to 'แก้ไข', edit_season_path(id: season.id), class: "btn btn-primary" %>
            </td>
            <td>
              <%= link_to 'ลบ', season_path(season), data: { turbo_method: :delete, turbo_confirm: "คุณแน่ใจหรือไม่ว่าต้องการลบ?" }, class: "btn btn-delete" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
      <% if @seasons.any? && @seasons.size > 0 %>
    <div class="pagination-container">
      <div class="pagination-text">
        Showing <%= @seasons.offset_value + 1 %> to <%= [@seasons.offset_value + @seasons.length, @seasons.total_count].min %> of <%= @seasons.total_count %> seasons
      </div>
      
      <nav class="pagination-nav">
        <%= link_to url_for(page: @seasons.prev_page), class: "pagination-link #{'pagination-disabled' if @seasons.first_page?}", disabled: @seasons.first_page? do %>
          <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" />
          </svg>
        <% end %>

        <span class="px-4 py-2 text-gray-700">
          Page <%= @seasons.current_page %> of <%= @seasons.total_pages %>
        </span>

        <%= link_to url_for(page: @seasons.next_page), class: "pagination-link #{'pagination-disabled' if @seasons.last_page?}", disabled: @seasons.last_page? do %>
           <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
          </svg>
        <% end %>
      </nav>
    </div>
  <% end %>
  </div>
</div>
